@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;600&display=swap");

.active {
  color: #1cb0f8;
  border: 1px solid #84d8ff;
  color: #1cb0f8;
  font-weight: bold;
}
body {
  font-family: "Exo 2", sans-serif;
  padding: 0;
  margin: 0;
}

/*default styles */
.container {
  padding: 0;
}

.btn {
  padding: 18px;
  background-color: #1cb0f8;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.btn:hover {
  background-color: #1591cf;
  cursor: pointer;
}

/* animation css styles */
.animated {
  animation-delay: 0.5s;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }
}
