@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;600&display=swap');

.active {
  color: #1cb0f8;
  border: 1px solid #84d8ff;
  color: #1cb0f8;
  font-weight: bold;
}
body{
  font-family: 'Exo 2', sans-serif;
}